body {
    font-family: 'Raleway', monospace;
}

button {
    font-family: 'Raleway', monospace;
    font-size: 24px;
    width: 100px;
    height: 75px;

    background-color: lightgray;
    padding: 0px;
    margin: 5px;
    border: 0px;
}

.calculator {
    height: 435px;
    width: 535px;
    margin: auto;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 530px;
}

.clear {
    width: 70px;
    height: 160px;
    background-color: #CDDECF;

    padding: 0px;
    margin: 5px;
    border: 0px;
}

.operatorButton {
    border: 0px;
    background-color: #93BFDA;
}

.equalsButton {
    background-color: #7659B2;
    border: 0px;
}

.result {
    width: 515px;
    height: 70px;
    background-color: lightgray;
    margin: 10px 5px 5px 10px;
}

.displayFunction, .displayResult {
    text-align: right;
    margin: 3px;
}

.displayResult {
    font-size: 32px;
}

.input {
    display: flex;
}

.clearBox {
    width: 70px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.numberBox {
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.operatorBox {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}